.confirm{
    background-color: #E4B4B4;
    height: 200px;
    width:30%;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding:50px;
    color:white;
}